*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/encodings.xml
app/build_BACKUP_14092.gradle
app/build_BACKUP_2748.gradle
app/build_BACKUP_2896.gradle
app/build_BASE_14092.gradle
app/build_BASE_2748.gradle
app/build_BASE_2896.gradle
app/build_LOCAL_14092.gradle
app/build_LOCAL_2748.gradle
app/build_LOCAL_2896.gradle
app/build_REMOTE_14092.gradle
app/build_REMOTE_2748.gradle
app/build_REMOTE_2896.gradle
